@charset "UTF-8";

/* ************************************

RUGBEE THEME - GLOBAL CSS
(Place template-specific styles in [template-name].less)
 
Contents
- Import Bootstrap
- Variables
- Mixins
- Generic Classes
- Page
- Headings
- Forms
- Images
- Misc.

************************************ */


/* Import Twitter Bootstrap
____________________________________________ */
@import "../bootstrap/bootstrap.less";
@import "../bootstrap/responsive.less";


/* Variables
____________________________________________ */
@navbarBackground:#fff;
@navbarText:#000;
@navbarLinkColor:#000;
@fadedGray:#F1F1F1;

/* Mixins
____________________________________________ */
.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}


/* Generic Classes
____________________________________________ */
.full-width {
	width:100%;
}
.position-relative {
	position:relative;
}

.large-text {
	font-size:18px;
}

/* Page header
____________________________________________ */
.page-header {
	position:relative;
}

.page-control {
	position:absolute;
	width:auto;
	top:0;
	right:0;
	z-index:10;
}


/* Content Blocks
____________________________________________ */
body {
	padding-top: 60px; 
	background-color: #FFF;
}
.navbar {
	background-color: #fff;
	background-image: none;
	background-repeat: no-repeat;
	filter: none;
}
.navbar-inner {
	background-color: #fff;
	background-image: none;
	background-repeat: no-repeat;
	filter: none;
	
	.container, .container a,.container a.brand {
		background-color: #FFF;
		background-image: none;
		color: #999;
	}
}

.navbar {
	color: #FFF;
	
	.nav > li > a {
		text-shadow: none;
	}
	.nav > li > a:hover {
		color: #000;
	}
	
	.nav .active > a, .navbar .nav .active > a:hover {
		color: #000;
		text-decoration: none;
	}
}
.page-title {
	position:relative;
	 h1 {
		 display:inline;
	 }
	
	.page-title-info {
		position:absolute;
		right:0;
		top:0;
		margin-right:2px;
	}
	
} //.page-title
.footer {
	border-top-color: #E5E5E5;
	border-top-style: solid;
	border-top-width: 1px;
	margin-top: 45px;
	padding: 35px 0 36px;
	margin: 20px 40px 0 40px;
}
.sticky-footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:30px;   /* Height of the footer */
   background:#FFF;
}


/* Headings
____________________________________________ */
h1 {
	font-size:2em;
}
h2 {
	margin-bottom: .5em;
}



/* Forms
____________________________________________ */
input.input-large-text {
	font-size:30px;
	height:26px;
	width:500px;
	padding-top:15px;
}
.form-horizontal .form-actions {
  padding-left:10px;
}
.faux-h1 {  /* a hack for matching the form input display of the project title with view mode - replace with some flavor of edit in place? */
  font-size:2em;
  height:25px;
  padding-top:15px;
  color:#000;
}

/* Lists
____________________________________________ */
ul.inline-list li, ol.inline-list li {
	display: inline;
	list-style: none;
}
ol.thumb-list { /* optimized for 80px wide thumbnails */
	li {
		position: relative;
		min-height: 70px;
		border-bottom:#CCC solid 1px;
		padding-bottom:10px;
		margin-bottom:10px;
		
			img {
			position: absolute;
			left: 0;
			top: 0;
			width:auto;
			height:auto;
			}
			
			p {
			padding: 0 0 0 70px;
			}
		}
}


/* Tables
____________________________________________ */
.table th, .table td {
  padding-left:2px;
  vertical-align:middle;
  border-top-color:#E9E9E9;
}
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color:#F8F8F8;
}
.navbar-inner {
	box-shadow:rgba(0, 0, 0, 0.246094) 0 1px 3px, rgba(0, 0, 0, 0.0976563) 0 -1px 0;
}



/* Navigation
____________________________________________ */
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color:#000;
  background-color:#E6E6E6;
}


/* IMAGES
____________________________________________ */
.image-title {
	display:inline-block;
	margin:10px 0;
}





/* MISC.
____________________________________________ */
.divider-top {
	border-top:1px solid #CCC;
	padding-top:5px;
	margin-top:5px;
}