<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Welcome to Rugbee - A project collaboration tool for Agile and Lean teams</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Rugbee - A project collaboration tool for Agile and Lean teams">
<meta name="author" content="">

<!-- Le styles -->
<link href='http://fonts.googleapis.com/css?family=Sansita+One' rel='stylesheet' type='text/css'>
<link rel="stylesheet/less" href="../../../less/rugbee.less" type="text/css" />
<script src="../../../less/less.js" type="text/javascript"></script>

<style type="text/css">
.navbar-inner a.brand {
/*	font-family: 'Rock Salt', cursive;*/
	/*font-family: 'Berkshire Swash', cursive;*/
	font-family: 'Sansita One', cursive;
/*	font-size:x-large;*/
}

#tagline p {
	font-size:xx-large;
	line-height:28px;
}
            .slides_container {
                width:570px;
                height:270px;
            }
            .slides_container div {
                width:570px;
                height:270px;
                display:block;
            }

</style>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="slides.js"></script>
    
        <script>
            $(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: 'img/loading.gif',
				play: 5000,
				pause: 2500,
				hoverPause: true,
				animationStart: function(current){
					$('.caption').animate({
						bottom:-35
					},100);
					if (window.console && console.log) {
						// example return of current slide number
						console.log('animationStart on slide: ', current);
					};
				},
				animationComplete: function(current){
					$('.caption').animate({
						bottom:0
					},200);
					if (window.console && console.log) {
						// example return of current slide number
						console.log('animationComplete on slide: ', current);
					};
				},
				slidesLoaded: function() {
					$('.caption').animate({
						bottom:0
					},200);
				}
			});
		});
        </script>
</head>

<body>
<div id="app-header" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a class="brand" href="#">Rugbee</a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li><a href="">Twitter</a></li>
         </ul>
        <!-- /.nav --> 
      </div>
      <!--/.nav-collapse --> 
    </div>
    <!--/.container --> 
  </div>
  <!--/.navbar-inner --> 
</div>
<!--/.navbar-fixed-top --> 
<!-- /#app-header-->

<div class="container">
  <div class="row">
    <div class="span4">
    <div id="tagline"><p>A project collaboration tool for Agile and Lean teams.</p><p>Light, fast, and discussion-centered.</p>
<a class="btn" href="#">Get Started</a>
  </div><!-- /#tagline -->
    </div>
    <!-- /.span --> 
    
    
     <div class="span8">
    <div id="slides">
				<div class="slides_container">
					<div class="slide">
						<a href="http://www.flickr.com/photos/jliba/4665625073/" title="145.365 - Happy Bokeh Thursday! | Flickr - Photo Sharing!" target="_blank"><img src="../../../js/Slides/examples/images-with-captions/img/slide-1.jpg" width="570" height="270" alt="Slide 1"></a>
						<div class="caption" style="bottom:0">
							<p>Happy Bokeh Thursday!</p>
						</div>
					</div>
					<div class="slide">
						<a href="http://www.flickr.com/photos/stephangeyer/3020487807/" title="Taxi | Flickr - Photo Sharing!" target="_blank"><img src="../../../js/Slides/examples/images-with-captions/img/slide-2.jpg" width="570" height="270" alt="Slide 2"></a>
						<div class="caption">
							<p>Taxi</p>
						</div>
					</div>
					<div class="slide">
						<a href="http://www.flickr.com/photos/childofwar/2984345060/" title="Happy Bokeh raining Day | Flickr - Photo Sharing!" target="_blank"><img src="../../../js/Slides/examples/images-with-captions/img/slide-3.jpg" width="570" height="270" alt="Slide 3"></a>
						<div class="caption">
							<p>Happy Bokeh raining Day</p>
						</div>
					</div>
					<div class="slide">
						<a href="http://www.flickr.com/photos/b-tal/117037943/" title="We Eat Light | Flickr - Photo Sharing!" target="_blank"><img src="../../../js/Slides/examples/images-with-captions/img/slide-4.jpg" width="570" height="270" alt="Slide 4"></a>
						<div class="caption">
							<p>We Eat Light</p>
						</div>
					</div>
					<div class="slide">
						<a href="http://www.flickr.com/photos/bu7amd/3447416780/" title="&ldquo;I must go down to the sea again, to the lonely sea and the sky; and all I ask is a tall ship and a star to steer her by.&rdquo; | Flickr - Photo Sharing!" target="_blank"><img src="../../../js/Slides/examples/images-with-captions/img/slide-5.jpg" width="570" height="270" alt="Slide 5"></a>
						<div class="caption">
							<p>&ldquo;I must go down to the sea again, to the lonely sea and the sky...&rdquo;</p>
						</div>
					</div>
					<div class="slide">
						<a href="http://www.flickr.com/photos/streetpreacher/2078765853/" title="twelve.inch | Flickr - Photo Sharing!" target="_blank"><img src="../../../js/Slides/examples/images-with-captions/img/slide-6.jpg" width="570" height="270" alt="Slide 6"></a>
						<div class="caption">
							<p>twelve.inch</p>
						</div>
					</div>
					<div class="slide">
						<a href="http://www.flickr.com/photos/aftab/3152515428/" title="Save my love for loneliness | Flickr - Photo Sharing!" target="_blank"><img src="../../../js/Slides/examples/images-with-captions/img/slide-7.jpg" width="570" height="270" alt="Slide 7"></a>
						<div class="caption">
							<p>Save my love for loneliness</p>
						</div>
					</div>
				</div>
				<a href="#" class="prev"><img src="../../../js/Slides/examples/images-with-captions/img/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
				<a href="#" class="next"><img src="../../../js/Slides/examples/images-with-captions/img/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>
	
<!--<ul>
<li>Initiate a new project in seconds.</li>
<li>Start contributing visuals, links, discussion and more.</li>
<li>Visuals and other artifacts automatically become hashtags and potential discussion topics or their own sub-projects.</li>
<li>Others referenced in your discussion get notified that they've been mentioned. If they are not already part of the project team, they get an invitation to join.</li>
<li>No need to keep signing in to the app. Particate via email, SMS, or chat.</li>
<li>Create ad-hoc sub-projects from any hashtag or topic.</li>
</ul>-->
  </div>
  <!-- /#how-it-works .dot-slides -->
    </div>
    <!-- /.span --> 
  </div>
  <!-- /.row --> 
  
  <div class="row">
    <div class="span12">

   <!-- <div id="signup">
      <h2>Request an invite</h2>
    <p>[product is not available yet, but enter your email to be added to the invite list]</p>
    <p>[contact us - have a question about our product or just want to get in touch? Drop us a note!]</p>
  </div>-->
  <!-- /#signup-->
    </div>
    <!-- /.span --> 
  </div>
  <!-- /.row --> 
  
</div>
<!-- /.content -->
<footer class="footer">
  <p class="pull-right"> <a href="#">Back to top</a> </p>
  <p> &copy; 2012 SnapShare, Inc. </p>
</footer>
</div>
<!-- /.container --> 

<!-- Le javascript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="../../../js/jquery.js"></script> 
<script src="../../../js/bootstrap-transition.js"></script> 
<script src="../../../js/bootstrap-alert.js"></script> 
<script src="../../../js/bootstrap-modal.js"></script> 
<script src="../../../js/bootstrap-dropdown.js"></script> 
<script src="../../../js/bootstrap-scrollspy.js"></script> 
<script src="../../../js/bootstrap-tab.js"></script> 
<script src="../../../js/bootstrap-tooltip.js"></script> 
<script src="../../../js/bootstrap-popover.js"></script> 
<script src="../../../js/bootstrap-button.js"></script> 
<script src="../../../js/bootstrap-collapse.js"></script> 
<script src="../../../js/bootstrap-carousel.js"></script> 
<script src="../../../js/bootstrap-typeahead.js"></script>
</body>
</html>
