<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Bighawk Project, Onboarding Flow, viewed by John Smith, at Rugbee</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Le styles -->
<link rel="stylesheet/less" href="../../../less/rugbee/global.less" type="text/css" />
<link rel="stylesheet/less" href="../../../less/rugbee/discussion.less" type="text/css" />
<script src="../../../less/less.js" type="text/javascript"></script>
<script src="http://yui.yahooapis.com/3.5.1/build/yui/yui-min.js"></script>

</head>

<body>
<div id="app-header" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a class="brand" href="01-my-projects.html">Rugbee</a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li><a href="">Projects</a></li>
          <li><a href="">Teams</a></li>
          <li class="dropdown"> <a href=""
          class="dropdown-toggle"
          data-toggle="dropdown"><i class="icon-user"></i> John Smith <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li> <a href="#">Profile</a> </li>
              <li> <a href="#">Sign Out</a> </li>
            </ul>
          </li>
        </ul>
        <!-- /.nav --> 
      </div>
      <!--/.nav-collapse --> 
    </div>
    <!--/.container --> 
  </div>
  <!--/.navbar-inner --> 
</div>
<!--/.navbar-fixed-top --> 
<!-- /#app-header-->

<div class="container">
  <div id="page-header" class="page-header">
    <ul id="page-controls" class="nav nav-pills pull-right">
      <li class="active"><a href="">Discussion</a></li>
      <li><a href="">Design</a></li>
      <li><a href="">Team</a></li>
    </ul>
    <!-- /#page-controls -->
    <div class="page-title">
      <h1>BigHawk Project - Onboarding Flow</h1> <a class="page-edit" href="#"><i class="icon-edit"></i></a></div><!-- /#page-title -->
  </div>
  <!-- /#page-header -->
  
  <div class="row">
    <div class="span12">
    
     <!-- LINKEDIN CONTRIBUTE FORM -->
    <div class="post-home is-view"><!-- <a href="#"> <img class="member-photo photo" src="../../../img/avatars/anders-60px.png" alt="" width="60"> </a>-->
    <img class="member-photo photo" src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/253-person@2x.png" alt="" width="50">
            <p class="commenter-name">John S.</p>
            <div id="post-module" class="post-module">
              <div class="post-module-in">
                <form action="#" id="share-form" class="post">
                 <label for="postText-postModuleForm" id="post-txt-label" class="ghost" style="display: none; "> Ask a question, share a thought, or post an article </label>
                   <span class="error" id="postText-postModuleForm-error"></span>
                  <textarea name="postText" id="postText-postModuleForm" rows="2" cols="40" class="post-message" placeholder="Contribute to this project...
"></textarea>
                
                  <div id="share-mode" class="share-mode">
                    <div class="share-loading"></div>
                    <div id="share-view" class="share-view"></div>
                    <div class="share-edit">
                      <ul id="share-edit-list" class="form">
                        <li>
                          <input type="text" name="contentTitle" value="" id="share-edit-title" class="text" maxlength="200">
                        </li>
                        <li id="share-edit-meta"></li>
                        <li>
                          <textarea name="contentSummary" id="share-edit-summary" class="text"></textarea>
                        </li>
                        <li id="share-include-photo-wrapper">
                          <input type="checkbox" name="contentImageIncluded" value="true" id="share-include-photo" class="check" checked="checked">
                          <label for="contentImageIncluded-postModuleForm">Include photo</label>
                        </li>
                        <li>
                          <input type="button" name="#" value="Preview" class="btn-primary" id="share-edit-submit">
                          or <a href="http://www.linkedin.com/#" id="share-edit-cancel">Cancel</a> </li>
                      </ul>
                    </div>
                    <div class="share-attach"> <a href="http://www.linkedin.com/#" class="share-close share-close-attach">Close</a>
                      <h4>Add URL:</h4>
                      <p>
                        <label for="share-attach-input" id="share-attach-input-label" class="ghost" style="display: none; ">http://</label>
                      
                        <input type="input" name="#" value="" class="text hint" id="share-attach-input" placeholder="http://">
                        <input type="button" name="#" value="Attach" class="btn-primary" id="share-attach-link">
                      </p>
                    </div>
                  </div>
                  <div class="post-actions">
                    <div id="attach"> <!--<button type="submit" class="btn add-images"><i class="icon-camera"></i> Add Images</button>--><a href="#">Add files...</a> </div>
                    <div class="settings" id="share-settings">
                      <p>visible to:</p>
                      <div class="menu-basic styled-dropdown" id="yui-gen3"> <span class="label"> <span> anyone </span> </span>
                        <select name="postVisibility" id="postVisibility-postModuleForm">
                          <option value="EVERYONE" selected="">anyone</option>
                          <option value="CONNECTIONS">connections only</option>
                        </select>
                        <ul class="drop">
                          <li class="separator"><a href="http://www.linkedin.com/redir/redirect?url=http%3A%2F%2Flearn%2Elinkedin%2Ecom%2Fthe-homepage%2F%23sharing&urlhash=Kt1u" class="normal-link">Learn more »</a></li>
                        </ul>
                      </div>
                     
                    </div>
              
                    <div class="submit">
                      <input type="submit" name="" value="Share" class="btn-primary" id="share-submit">
                    </div>
                  </div>
       
                </form>
              </div>
            </div>
          </div>
    
    
 <!--     <ol class="discussion-thread">
        <li><div class="comment-info">  <img src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/253-person@2x.png" alt="" width="40">
            <p class="commenter-name">John S.</p>
          </div><form class="discussion-contribute" action="04-initial-post.html"><div class="speech-bubble">
  <textarea class="input-xlarge" id="textarea" rows="3" placeholder="Contribute..."></textarea> <button type="submit" class="btn add-images"><i class="icon-camera"></i> Add Images</button>
  </div> 
</form>
        </li>
        
      </ol>-->
      <!-- /.discussion-thread -->
      
      
    </div>
    <!-- /.span --> 
  </div>
  <!-- /.row --> 
</div>
<!-- /.content -->
<footer class="footer">
  <p class="pull-right"> <a href="#">Back to top</a> </p>
  <p> &copy; 2012 SnapShare, Inc. </p>
</footer>
</div>
<!-- /.container --> 

<!-- Le javascript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="../../../js/jquery.js"></script> 
<script src="../../../js/bootstrap-transition.js"></script> 
<script src="../../../js/bootstrap-alert.js"></script> 
<script src="../../../js/bootstrap-modal.js"></script> 
<script src="../../../js/bootstrap-dropdown.js"></script> 
<script src="../../../js/bootstrap-scrollspy.js"></script> 
<script src="../../../js/bootstrap-tab.js"></script> 
<script src="../../../js/bootstrap-tooltip.js"></script> 
<script src="../../../js/bootstrap-popover.js"></script> 
<script src="../../../js/bootstrap-button.js"></script> 
<script src="../../../js/bootstrap-collapse.js"></script> 
<script src="../../../js/bootstrap-carousel.js"></script> 
<script src="../../../js/bootstrap-typeahead.js"></script>
</body>
</html>
