<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Bighawk Project, Connect to Bird Flow - John Smith - Rugbee</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Le styles -->
<link rel="stylesheet/less" href="../../../less/rugbee/global.less" type="text/css" />
<link rel="stylesheet/less" href="../../../less/rugbee/design.less" type="text/css" />
<script src="../../../less/less.js" type="text/javascript"></script>
</head>

<body>
<div id="app-header" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a class="brand" href="01-my-projects.html">Rugbee</a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li><a href="">Projects</a></li>
          <li><a href="">Teams</a></li>
          <li class="dropdown"> <a href=""
          class="dropdown-toggle"
          data-toggle="dropdown"><i class="icon-user"></i> John Smith <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li> <a href="#">Profile</a> </li>
              <li> <a href="#">Sign Out</a> </li>
            </ul>
          </li>
        </ul>
        <!-- /.nav --> 
      </div>
      <!--/.nav-collapse --> 
    </div>
    <!--/.container --> 
  </div>
  <!--/.navbar-inner --> 
</div>
<!--/.navbar-fixed-top --> 
<!-- /#app-header-->

<div class="container">
  <div id="page-header" class="page-header">
    <ul id="page-controls" class="nav nav-pills pull-right">
      <li><a href="">Discussion</a></li>
      <li class="active"><a href="">Design</a></li>
      <li><a href="">Team</a></li>
    </ul>
    <!-- /#page-controls -->
    <div class="page-title">
      <h1>BigHawk-Connect to Bird</h1>
      <a class="page-edit" href="#"><i class="icon-edit"></i></a></div>
    <!-- /#page-title --> 
  </div>
  <!-- /#page-header -->
  
  <div class="row">
    <div class="span12">
      <div id="storyboard">
        <div id="main-content">
          <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
              <li><a href="#0" data-toggle="tab">Gallery</a></li>
              <li class="active"><a href="#a" data-toggle="tab">1. Bird Home - No Birds</a></li>
              <li><a href="#b" data-toggle="tab">2. Bird Home - Birds Added</a></li>
              <li><a href="#c" data-toggle="tab">3. Bird Connect - Detect Nearby Birds</a></li>
              <li><a href="#d" data-toggle="tab">4. Bird Connect - Passcode error</a></li>
              <li><a href="#e" data-toggle="tab">5. Bird Connect - No birds found</a></li>
              <li><a href="#f" data-toggle="tab">6. Bird Connect - Passcode error</a></li>
              <li><a href="#g" data-toggle="tab">7. BirdConnect- Connected!</a></li>
              <li><a href="#h" data-toggle="tab">8. Fly Bird - Take-off</a></li>
              <li><a href="#i" data-toggle="tab">9. Fly Bird- Bird-controls</a></li>
              <li><a href="#j" data-toggle="tab">10. Fly Bird - Land bird</a></li>
              <li><a href="#k" data-toggle="tab">11. Fly Bird - Lost contact with bird!</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="a">
                <div class="row"> <img src="http://placehold.it/700x600" alt="">
                  <ul class="inline-list pull-right design-controls">
                    <li><img src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/267-zoomin.png"  width="15" alt=""> </li>
                    <li><img src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/180-stickynote.png" width="15" alt=""> </li>
                    <li><img src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/286-speechbubble.png"  width="15" alt=""></li>
                    <li><img src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/216-compose.png"  width="15" alt=""></li>
                    <li><img src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/211-action.png"  width="15" alt=""></li>
                  </ul>
                  <img src="http://placehold.it/700x600" alt="">
                  <ul class="inline-list pull-right design-controls">
                    <li><img src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/267-zoomin.png"  width="15" alt=""> </li>
                    <li><img src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/180-stickynote.png" width="15" alt=""> </li>
                    <li><img src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/286-speechbubble.png"  width="15" alt=""></li>
                    <li><img src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/216-compose.png"  width="15" alt=""></li>
                    <li><img src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/211-action.png"  width="15" alt=""></li>
                  </ul>
                  <img src="http://placehold.it/700x600" alt="">
                  <ul class="inline-list pull-right design-controls">
                    <li><img src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/267-zoomin.png"  width="15" alt=""> </li>
                    <li><img src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/180-stickynote.png" width="15" alt=""> </li>
                    <li><img src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/286-speechbubble.png"  width="15" alt=""></li>
                    <li><img src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/216-compose.png"  width="15" alt=""></li>
                    <li><img src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/211-action.png"  width="15" alt=""></li>
                  </ul>
                  <img src="http://placehold.it/700x600" alt="">
                  <ul class="inline-list pull-right design-controls">
                    <li><img src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/267-zoomin.png"  width="15" alt=""> </li>
                    <li><img src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/180-stickynote.png" width="15" alt=""> </li>
                    <li><img src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/286-speechbubble.png"  width="15" alt=""></li>
                    <li><img src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/216-compose.png"  width="15" alt=""></li>
                    <li><img src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/211-action.png"  width="15" alt=""></li>
                  </ul>
                  <img src="http://placehold.it/700x600" alt="">
                <ul class="inline-list pull-right design-controls">
                    <li><img src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/267-zoomin.png"  width="15" alt=""> </li>
                    <li><img src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/180-stickynote.png" width="15" alt=""> </li>
                    <li><img src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/286-speechbubble.png"  width="15" alt=""></li>
                    <li><img src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/216-compose.png"  width="15" alt=""></li>
                    <li><img src="../../../img/Glyphish/Pro/GlyphishPro/icons/icons-gray/211-action.png"  width="15" alt=""></li>
                  </ul>
                </div>
                <!-- /row --> 
                
              </div>
              <!-- /tab-pane a-->
              <div class="tab-pane" id="b"> </div>
              <!-- /b-->
              
              <div class="tab-pane" id="c"> </div>
              <!-- /c-->
              <div class="tab-pane" id="d"> </div>
              <!-- /d-->
              <div class="tab-pane" id="e"> </div>
              <!-- /e-->
              <div class="tab-pane" id="f"> </div>
              <!-- /f--> 
            </div>
            <!-- /tab-content--> 
          </div>
          <!-- /tabbable --> 
          
        </div>
        <!-- /main-content --> 
      </div>
      <!-- /.story-board --> 
      
    </div>
    <!-- /.span --> 
  </div>
  <!-- /.row --> 
</div>
<!-- /.content -->
<footer class="footer">
  <p class="pull-right"> <a href="#">Back to top</a> </p>
  <p> &copy; 2012 SnapShare, Inc. </p>
</footer>
</div>
<!-- /.container --> 

<!-- Le javascript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="../../../js/jquery.js"></script> 
<script src="../../../js/bootstrap-transition.js"></script> 
<script src="../../../js/bootstrap-alert.js"></script> 
<script src="../../../js/bootstrap-modal.js"></script> 
<script src="../../../js/bootstrap-dropdown.js"></script> 
<script src="../../../js/bootstrap-scrollspy.js"></script> 
<script src="../../../js/bootstrap-tab.js"></script> 
<script src="../../../js/bootstrap-tooltip.js"></script> 
<script src="../../../js/bootstrap-popover.js"></script> 
<script src="../../../js/bootstrap-button.js"></script> 
<script src="../../../js/bootstrap-collapse.js"></script> 
<script src="../../../js/bootstrap-carousel.js"></script> 
<script src="../../../js/bootstrap-typeahead.js"></script>
</body>
</html>
